@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto Slab', serif !important;
    color: #82954B;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0.5em 1em 0.5em;
}

header .logo-img {
    max-width: 220px;
    width: 16%;
}

header h1 {
    font-family: 'Roboto Slab', serif !important;
    ;
    font-size: 1.36em;
    color: #BABD42;
}

nav {
    background-color: #FFEF82;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    min-height: 62px;
    margin-bottom: 0;
    padding-inline-start: 0;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    color: #82954B;
}

#principal section {
    padding: 3em 1em 3em 1em;
}

#principal section h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    color: #82954B;
    margin-bottom: 2em;
}

#principal section p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    color: #82954B;
    text-align: justify;
    margin-bottom: 3em;
}

#principal aside {
    padding: 7em 0.5em 3em 0.5em;
}

#principal aside p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    color: #82954B;
    text-align: justify;
    margin-bottom: 1.6em;
}

#galeria {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url("../images/leaves-patron.png");
    padding-top: 3em;
}

#beverages-data {
    background-image: url("../images/leaves-patron.png");
    padding-top: 3em;
    padding-bottom: 3em;
}

#galeria img {
    max-width: 317px;
    margin-bottom: 4em;
}

footer {
    background-color: #FFEF82;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: #82954B;
    text-align: center;
    margin: 0;
}

@media (max-width: 430px) {
    header {
        flex-flow: column wrap;
        justify-content: center;
    }

    header .logo-img {
        width: 34%;
    }

    nav ul {
        flex-flow: column wrap;
    }

    #principal section p {
        margin-bottom: 1em;
    }

    #principal aside {
        padding: 1em 0.5em 3em 0.5em;
    }
}